body {
    margin: 0;
    padding: 0;
}
#map {
    position: absolute;
    top: 20vh;
    bottom: 0;
    width: 100%;
}

.slider_section {
    padding-left: 10vw;
    width: 45%;
    z-index: 1;
}

.noUi-marker {
    top: 0px;
}

.legend {
    line-height: 2rem;
    color: #555;
    font-size: 1.5vw;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.leaflet-control {
    position: absolute;
    left: 10vw;
    bottom: 10vh;
    width: 10rem;
}
