body {
    margin: 0;
    padding: 0;
}
#map {
    position: relative;
    height: 100vh;
    width: 100%;
}

.slider_section {
    position: absolute;
    right: 10vw;
    padding-left: 10vw;
    width: 45%;
    z-index: 1000;
}

.noUi-marker {
    top: 0px;
    background: black;
}

.noUi-value {
    color: black;
}

.legend,
.text {
    padding-left: 5vw;
}

.legend {
    line-height: 2rem;
    color: #555;
    font-size: 1.5vw;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.text {
    font-size: 1.5vw;
    width: 30vh;
    line-height: 1.5rem;
    font-weight: bold;
}

.bold {
    font-weight: bold;
    font-size: 1rem;
}
