body {
    margin: 0;
    padding: 0;
}

.leaflet-container {
    font: 12px/1.5 "Roboto", sans-serif;
}

h5 {
    padding: 0;
    margin: 0;
}

#map {
    position: relative;
    height: 100vh;
    width: 100%;
}

.slider_section {
    position: absolute;
    right: 10vw;
    padding: 50px 5vw;
    padding-top: 10px;
    width: 40%;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8);
}

.noUi-target {
    background: #bbbbb4;
    border-radius: none;
    box-shadow: none;
    border: none;
}

.noUi-marker {
    top: -10px;
    background: black;
}

.noUi-value {
    color: black;
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
}

.noUi-horizontal {
    height: 0.3rem;
}

.noUi-horizontal .noUi-handle {
    width: 25px;
    height: 25px;
    left: -10px;
    top: -10px;
}
.noUi-value-horizontal {
    transform: translate(-50%, 10%);
}

.noUi-handle:after,
.noUi-handle:before {
    content: none;
}

.noUi-touch-area {
    background: black;
    border: 2.5px solid white;
}

.text {
    padding-top: 50px;
    position: absolute;
    left: 3vw;
    font-size: 2em;
    width: 30%;
    line-height: 1.7em;
    font-weight: 800;
    z-index: 1000;
    background: rgba(221, 221, 210, 0.8);
    height: 100vh;
}

.text p {
    padding: 0 50px;
}

.legend {
    line-height: 2rem;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    list-style-type: none;
    background: white;
    padding-left: 50px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 10px;
    margin-top: 7px;
}

.legend li {
    font-size: 1rem;
}

.legend p {
    line-height: 1rem;
    width: 50%;
    padding: 0;
}

.bold {
    font-weight: bold;
    font-size: 1rem;
}

.leaflet-interactive {
    cursor: grab;
}

.leaflet-tooltip {
    white-space: initial;
}

.road-labels {
    color: rgba(0, 0, 0, 0.9);
    background-color: transparent;
    border: none;
    box-shadow: none;
    white-space: nowrap;
}

.my-labels {
    color: rgba(0, 0, 0, 0.9);
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-size: 1.5rem;
    font-weight: bold;
    width: 12rem;
    text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .text {
        font-size: 1em;
        width: calc(100% - 75px);
        top: 150px;
        background: rgba(221, 221, 210, 0.8);
        padding: 20px;
    }

    .slider_section {
        width: calc(100% - 75px);
    }

    .legend {
        margin-bottom: 25px;
    }

    .leaflet-control-zoom {
        display: none;
    }
}
